<div class="centered-content">
  <div class="view-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Projects
      </h1>
      <div class="project-menu">
        <a href="" class="project-item">Project #1</a>
        <a href="" class="project-item">Project #2</a>
        <a href="" class="project-item">Project #3</a>
        <a href="" class="project-item">Project #4</a>
      </div>

      <button class="button project-button">Add Project</button>

    </div>
    <div class="campaign-container has-background-white">
      <h1 class="title has-text-primary">
        Compaign
      </h1>
      <div class="top-bar">
        <div class="dropdown is-hoverable is-right">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true">
              <span class="icon is-small">
                <i class="fas fa-cog" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <a class="dropdown-item">
                Edit
              </a>
              <a class="dropdown-item has-text-danger">
                Delete
              </a>
            </div>
          </div>
        </div>
      </div>

      <div>
        <p class="empty-state-text">There is no task <br/> Please go and create one</p>
      </div>
      <div class="campaign" >
        <div class="campaign-text">
          <p>Nazwa kampani</p>
        </div>
        <div class="campaign-buttons">
          <button class="button">
            <div class="icon">
              <i class="fas fa-edit"></i>
            </div>
          </button>
          <button class="button"  style="margin-left:5px;">
            <div class="icon">
              <i class="fas fa-trash"></i>
            </div>
          </button>
        </div>
      </div>
     <!-- complete -->
     <button class="circle-add-button button is-primary" routerLink="./new-task">+</button>
     <div >
       <p class="empty-state-text">Please select a list from the sidebar</p>
      </div>
    </div>

    </div>
  </div>
