<div class="centered-content">
  <div class="view-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Projects
      </h1>
      <div class="project-menu">
        <a href="" class="project-item" *ngFor="let project of projects" [routerLink]="['/projects', project._id]" routerLinkActive="is-active">{{project.name}}</a>
      </div>

      <button class="button project-button" routerLink="/new-project">Add Project</button>

    </div>
    <div class="campaign-container has-background-white">
      <h1 class="title has-text-primary">
        Compaign
      </h1>
      <div *ngIf="campaigns" class="top-bar">
        <div class="dropdown is-hoverable is-right">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true">
              <span class="icon is-small">
                <i class="fas fa-cog" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <a [routerLink]="['edit']" class="dropdown-item">
                Edit project
              </a>
              <a (click)="onDeleteProjectClick()" class="dropdown-item has-text-danger">
                Delete project
              </a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="campaigns">
        <div *ngIf="(campaigns.length == 0 )">
          <p class="empty-state-text">There is no compaign for this project <br/> Please go and create it</p>
        </div>
        <div class="campaign" *ngFor="let campaign of campaigns" [routerLink]="['campaign', campaign._id]">
          <div class="campaign-text">
            <p>Campaign name: <strong>{{campaign.name}}</strong></p>
            <p>Campaign status: <strong *ngIf="campaign.status">On</strong><strong *ngIf="!campaign.status">Off</strong></p>
            <p>Campaign town: <strong>{{campaign.town}}</strong></p>
          </div>
          <div class="campaign-buttons">
            <button class="button" [routerLink]="['campaign', campaign._id]">
              Details
            </button>
          </div>
        </div>
     <!-- complete -->
      </div>
     <div *ngIf="!campaigns">
       <p class="empty-state-text">Please select a project from the sidebar</p>
      </div>
      <div class="campaign-footer" *ngIf="(campaigns && campaigns.length == 0 )">
        <button class="circle-add-button button is-primary" [routerLink]="['new-campaign']">+</button>
      </div>
    </div>

    </div>
  </div>
