<div class="centered-content">
  <div class="modal-box">
    <h2 class="title has-text-primary">
      Edit a project
    </h2>

    <input [(ngModel)]="name" name="name" class="input has-background-light is-normal" type="text" placeholder="Enter project name..." required>

    <div class="buttons is-right">
      <button class="button is-normal" routerLink="/">Back</button>
      <button class="button is-normal is-primary has-text-white" (click)="editProject()">Edit</button>
    </div>

  </div>
</div>
